body {
  background-image: linear-gradient(bottom, rgb(230,230,230) 49%, rgb(173,168,173) 100%);
  background-image: -o-linear-gradient(bottom, rgb(230,230,230) 49%, rgb(173,168,173) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 49%, rgb(173,168,173) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 49%, rgb(173,168,173) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 49%, rgb(173,168,173) 100%);
  font-family: 'Karla', sans-serif;
}

h1, h2 {
  margin:auto;
  width:800px;
  text-shadow: 0px 1px 1px #444;
  color:#eee;
}


.clearfix {
  clear:both;
}

#container {
  margin:auto;
  width:800px;
  border-radius:4px;
  border:1px solid #ccc;
  background-color:white;
}

#board {
  margin:10px;
  background-color:#eee;
  display:block;
  padding:3px;
  border-radius:4px;
  width:380px;
  height:380px;
  float:left;
}

#blablah {
  padding:0 10px 10px 10px;
}

#controls {
  display: block;
  height:360px;
  float:left;
  padding: 10px;
}

.cell {
  display:inline-block;
  width:20px;
  height:20px;
  border-radius:4px;
  border:1px solid #ccc;
  margin:1px 1px 0 0;
  background-color:white;
  -webkit-transition:background-color 0.5s linear;  
  -moz-transition:background-color 0.5s linear;  
  transition:background-color 0.5s linear;  
}
.cell[data-status='1'] {
  -webkit-transition:background-color 0s linear;  
  -moz-transition:background-color 0s linear;  
  transition:background-color 0s linear;  
  background-color:black;
}

.cursor .cell[data-status='1'] {
  box-shadow: 0 0 5px #00f;
  border:1px solid  #00f; 
}

.cell[data-status='0']:hover {
  -webkit-transition:background-color 0.2s linear;  
  -moz-transition:background-color 0.2s linear;  
  transition:background-color 0.2s linear;  
  background-color:#999;
}

.row.cursor {
  border-left:10px solid #ccc;
}

.row {
  border-left:10px solid #fff;
}


label {
  display:block;

}

.click_controls span {
  border-radius:4px;
  border:1px solid #ddd;
  margin:10px 1px 0 0;
  background-color:#eee;
  padding:5px;
  margin: 5px 10px 10px 0;
  cursor: pointer;
  display: inline-block;
}

.click_controls span:hover {
  box-shadow: 0 0 5px #00f;
}

.click_controls span.active {
  box-shadow: 0 0 5px #00f;
  background-color:#ccc;
}

.click_controls {
  margin-bottom:10px;
}